GITHUB_ACCESS_TOKEN=REPLACE_WITH_YOUR_TOKEN
GITHUB_TARGET_REPOSITORY_OWNER=REPLACE_WITH_YOUR_TARGET_REPOSITORY_OWNER_NAME
GITHUB_TARGET_REPOSITORY_NAME=REPLACE_WITH_YOUR_TARGER_REPOSITORY_NAME
GITHUB_MAX_ISSUE=100
COLLECTION_INTERVAL_IN_MINUTES=5
